@model MichaFinancialGroup.ViewModels.CustomerTransactionsViewModel

@{
    ViewData["Title"] = "Customer transactions";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Transactions</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="transactions">
                                <thead class="">
                                    <tr>
                                        <th scope="col">
                                            <a asp-controller="Customer"
                                               asp-action="transactions"
                                               asp-route-sortField="Date"
                                               asp-route-sortOrder="@(Model.SortField == "Date" ? Model.OppositeSortOrder : "" )"
                                               asp-route-q="@Model.q">
                                                Date
                                                @if (Model.SortField == "Date")
                                                {
                                                    if (Model.SortOrder == "asc")
                                                    {
                                                        <i class="fas fa-sort-down"></i> }
                                                    else
                                                    {
                                                        <i class="fas fa-sort-up"></i>}

                                                }
                                            </a>
                                        </th>
                                        <th>Transaction Id</th>
                                        <th>Account Id</th>
                                        <th>Account</th>
                                        <th>Amount</th>
                                        <th>Bank</th>
                                        <th>Operation</th>
                                        <th>Symbol</th>
                                        <th>Type</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transactions in Model.Transactions)
                                    {
                                        <partial name="_TransactionRow" model="@transactions" />
                                    }
                                </tbody>

                            </table>
                            <a class="btn btn-primary" onclick="fetch20more(); return false;">Load 20 more</a>

                            @section Scripts
                            {
                                <script>
                                    var skip = 0;
                                    function fetch20more() {


                                        skip = skip + 20;


                                        $.ajax({
                                            url: "/customer/loadtransactions/@Model.CustomerId?skip=" + skip, success: function (result) {
                                                $("#transactions").append(result);
                                            }
                                        });

                                    }</script>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
